<div class="card-columns">
    <div class="card" *ngFor="let item of flickerResponse?.items">
      <img class="card-img-top" [src]="item.media.m" [alt]="item.title" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          Uploaded by {{ item.author_id }} on
          {{ item.published | date: "medium" }}
        </p>
        <p class="card-text">{{ item.title }}</p>
        <hr>
        <p class="card-text">
          <small class="text-muted">{{ item.tags }}</small>
        </p>
      </div>
    </div>
  </div>